/* Allgemeine Stile */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b2dec3;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 0;
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4cae4c;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

/* Hauptcontainer */
#chatApp {
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

/* Benutzername-Abschnitt */
#usernameSection {
  text-align: center;
  margin-bottom: 20px;
}

/* Raum-Auswahl */
#roomSelection {
    position: absolute;
    top: 90px;
    text-align: center;
    margin-bottom: 20px;
}

/* Chat-Bereich */
#chat {
  background-color: white;
  border-radius: 2.5%;
}

#currentRoom {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

/* Benutzerliste */
#users {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* Nachrichten */
#messages {
  border: 1px solid #ccc;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

#messages div {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  line-height: 1.4;
}

/* Eingabefeld und Senden-Button */
#messageInput {
  width: calc(100% - 90px);
  margin-right: 10px;
}

#sendMessage {
  width: 80px;
}
/* Farbschemata */
body.theme-light {
  background-color: #f7f7f7;
  color: #333;
}

body.theme-dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.theme-blue {
  background-color: #d0e7f9;
  color: #003366;
}
#themeSelection {
  position: absolute;
  bottom: 10px; /* Abstand von unten */
  right: 10px; /* Abstand von links */
  z-index: 1000;
}